<!-- TARJETA DE RENDERIZACIÓN DE INFO DE UN PERSONAJE -->
<div class="card container">
    <div class="card-body">
        <!-- imagen del personaje -->
        <img class="avatar" [src]="img" [alt]="name">
        <div class="info">
            <!-- nombre del personaje -->
            <h3 class="card-title name">{{name}}</h3>
            <!-- datos adicionales -->
            <div class="data">
                <h5>Patronus: {{patronus}}</h5>
                <h5>Edad: {{age}}</h5>
            </div>
        </div>
    </div>
</div>
