
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
        <!-- logo y título de la barra de navegación -->
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/Hogwarts-Logo-medium.png" alt="" width="60" height="30" class="d-inline-block align-text-top">
            <div class="title">Colegio Hogwarts | Mágia y Hechicería</div>
        </a>
        <!-- Botón menú hamburguesa de la barra de navegación en responsive-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- render de elementos de la barra de navegación -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
            <ul class="navbar-nav d-flex">
                <li *ngFor="let e of elements" class="nav-item">
                    <a class="nav-link" routerLink="{{e.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: (e.exact?true:false) }">{{e.linkName}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
